.activities-list-heading {
  text-align: center;
  margin-bottom: 6.6rem;
}

.activity-cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
  margin-bottom: 2rem;
}

.activity-cards-contaier a:hover {
  color:rgb(255, 245, 235);
}

.activity-list-img {
  width: 100%;
  height: 20rem;
  object-fit: cover;
}

.activity-card {
  background-color: rgb(61, 88, 63);
  width: 35rem;
  border-radius: 5px;
  overflow: hidden;
  transition: all 0.15s;
  position: relative;
}

.activity-card:hover {
  transform: scale(1.02);
  cursor: pointer;
}

.activity-card-text {
  padding: 1rem;
}

.activity-card-text:last-child {
  margin-bottom: 3rem;
}

.activity-card-title {
  font-size: 2.2rem;
  margin-bottom: 2rem;
  height: 4.4rem;
}

.activity-card-details {
  font-size: 1.6rem;
  margin-bottom: 1rem;
  line-height: 1.5;
}

.activity-card button {
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  font-size: 1.4rem;
  padding: 0.2rem 0.4rem;
}

.pagination-buttons button:hover {
  background-color: rgb(145, 82, 19);
  cursor: pointer;
}

.add-to-favs-btn {
  display: flex;
  justify-content: flex-end;
}

.add-to-favs-btn button {
  background-color: transparent;
  border: none;
}

.fa-heart {
  font-size: 2rem;
}

.heart-red {
  color: red;
  background-color: transparent !important;
}

.heart-transparent {
  color: rgb(187, 187, 187);
}

.loading {
  height: 80rem;
}


/********************************/
/* PAGINATION*/
/********************************/
.pagination-dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  background-color: #ccc;
  border-radius: 50%;
  cursor: pointer;
}

.pagination-dot.active {
  background-color: #007bff; 
}

.pagination-buttons button {
  background-color: rgb(99, 56, 13);
  color: white;
  padding: 0.3rem 0.6rem;
}

.pagination-buttons {
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
}

.pagination-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination-dots {
  margin-top: 2rem;
}

.current-page {
  text-align: center;
  margin-top: 2rem;
}


