.hero-section {
  display: flex;
  justify-content: space-around;
  margin-top: 10rem;
  max-width: 130rem;
  margin-bottom: 20rem;
}

.hero-section-text-container {
  display: flex; 
  justify-content: center; 
  align-items: center; 
  padding-right: 4rem; 
}

.heading-primary {
  font-size: 5.2rem;
  line-height: 1.05;
  margin-bottom: 3.2rem;
}

.hero-section-text-container p {
  margin-bottom: 6rem;
  font-size: 2rem;
  line-height: 1.5;
}

.see-activities-btn {
  text-align: center;
  background-color: rgb(99, 56, 13);
  padding: 2rem;
  width: 25rem;
  display: block;
  margin: auto;
  border-radius: 5px;
}

.see-activities-btn:hover {
  background-color: rgb(145, 82, 19);
}

.hero-section img {
  width: 55%;
  border-radius: 5px;
}








