* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 1.6rem;
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
  background-color: rgb(32, 47, 33);
  color: rgb(255, 245, 235);
}

html {
  font-size: 62.5%;
}

a {
  text-decoration: none;
}

header {
  display: flex;
  background-color: rgb(99, 56, 13);
  justify-content: space-between;
  padding: 1rem 2rem;
  text-decoration: none;
  margin-bottom: 3.2rem;
}

a:visited,
a:link {
  color: rgb(255, 245, 235);
}

a:hover,
a:active {
  color: rgb(216, 216, 216);
  cursor: pointer;
}

.main-nav ul {
  list-style: none;
  display: flex;
}

.main-nav {
  display: flex;
  align-items: center;
}

.nav-link {
  margin: 0 0.5rem;
}

.header-title {
  font-family: "Cabin Sketch", cursive;
  padding: 0.5rem 1.2rem;
  text-align: center;
  font-weight: bold;
}

.header-title :nth-child(1) {
  font-size: 1.5rem;
  letter-spacing: 1.5px;
}

.header-title :nth-child(2) {
  font-size: 0.7rem;
  letter-spacing: 2px;
}

.container {
  max-width: 120rem;
  margin: 0 auto 10rem;
}

.header-secondary {
  font-size: 4.4rem;
  line-height: 1.2;
  margin-bottom: 9.6rem;
}

.heading-tertiary {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
}
