* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 1.6rem;
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
  background-color: rgb(32, 47, 33);
  color: rgb(255, 245, 235);
}

html {
  font-size: 62.5%;
}

a {
  text-decoration: none;
}

a:visited,
a:link {
  color: rgb(255, 245, 235);
}

a:hover,
a:active {
  color: rgb(216, 216, 216);
  cursor: pointer;
}

.container {
  max-width: 120rem;
  margin: 0 auto 10rem;
}

.heading-secondary {
  font-size: 4.4rem;
  line-height: 1.2;
  margin-bottom: 9.6rem;
}

.heading-tertiary {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
}
