* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 1.6rem;
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
  background-color: rgb(32, 47, 33);
  color: white;
}

html {
  font-size: 62.5%;
}

a {
  text-decoration: none;
}

header {
  display: flex;
  background-color: rgb(99, 56, 13);
  justify-content: space-between;
  padding: 2rem;
  text-decoration: none;
}

a:visited,
a:link {
  color: white;
}

a:hover,
a:active {
  color: rgb(216, 216, 216);
  cursor: pointer;
}

.main-nav ul {
  list-style: none;
  display: flex;
}

.nav-link {
  margin: 0 0.5rem;
}
