/* Modal */
.outer-container {
  position: relative;
}

.clear-all-modal {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  background-color: rgba(0, 0, 0, 0.61);
  width: 100%;
  height: 100%;
}

.clear-all-modal-box {
  background-color: white;
  padding: 2rem;
  border-radius: 5px;
  margin-bottom: 50rem;
  max-width: 90%;
}

.clear-all-modal-text {
  color: black;
  margin-bottom: 2rem;
  text-align: center;
}

.clear-all-btn-container {
  display: flex;
  justify-content: center;
}

.clear-all-modal button {
  padding: 0.5rem 1rem;
}

.cancel-clear-all-btn {
  background-color: rgb(99, 56, 13);
  color: white;
  margin-right: 4rem;
}

.confirm-clear-all-btn {
  background-color: rgb(206, 1, 1);
  color: white;
}

.hide {
  display: none;
}
